<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kiwihort.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kiwihort.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Kiwihort</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Kiwihort</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="kiwihortdbConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kiwihort.database.windows.net,1433;Initial Catalog=kiwihortdb;User ID=rajan;Password=Hypernova123" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=kiwihort.database.windows.net;Initial Catalog=kiwihortdb;Persist Security Info=True;User ID=rajan;Password=Hypernova123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\kiwihortdbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=kiwihort.database.windows.net;Initial Catalog=kiwihortdb;Persist Security Info=True;User ID=rajan;Password=Hypernova123;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KiwihortData" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:kiwihort.database.windows.net,1433;Initial Catalog=kiwihortdb;User ID=rajan;Password=Hypernova123" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=kiwihort.database.windows.net;Initial Catalog=kiwihortdb;Persist Security Info=True;User ID=rajan;Password=Hypernova123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KiwihortData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=kiwihort.database.windows.net;Initial Catalog=kiwihortdb;Persist Security Info=True;User ID=rajan;Password=Hypernova123; MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KiwihortData-Web.config Connection String">
      <ParameterValue>data source=tcp:kiwihort.database.windows.net,1433;initial catalog=kiwihortdb;user id=rajan;password=Hypernova123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)kiwihortdbConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:kiwihort.database.windows.net,1433;initial catalog=kiwihortdb;user id=rajan;password=Hypernova123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>